h1 {
  text-align: center;
  text-emphasis-color: red;
}

form {
  display: block;
  margin: auto;
  border: 4px solid rgb(255, 0, 157);
  height: 800px;
  width: 500px;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  background: #f3e7cc;
  padding: 20px;
  background-image: url('pizzablur.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input::placeholder {
  color: rgb(255, 0, 140);
  font-size: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  background-image: url('/images/pizzablur.png');
  background-size: contain; 
  background-position: center;
  padding: 20px;
  height: 700;
  width: 500;
}

